<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Team</th>
      <th>Admin user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, team_post_path(@team, post) %></td>
        <td><%= post.description %></td>
        <td><%= post.team.name %></td>
        <td><%= post.admin_user %></td>
        <td><%= link_to 'Show', team_post_path(@team, post) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
